:root {
    --head-color: #D5DFD5;
    --menu-color: #333333;
    --catalog-color: #65B965;
    --other-color: #ffcb00e6;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
}


/* Страница категории */

.cat_product_wrapper {
    width: 100%;
    display: flex;
}

.cat_navigation {
    flex: 1;
    margin-right: 30px;
}

.cat_navigation ul {
    list-style: none;
    margin-top: 0;
    border: 1px solid #d9d9da;
    border-radius: 12px;
    overflow: hidden;
}

.cat_navigation ul li {
    border-radius: 10px;
}

.cat_navigation ul li a:hover{
    background-color: var(--catalog-color);
}

.cat_navigation ul li a{ 
    padding: 10px 5%;
    width: 90%;
    display: inline-block;
}

.cat_product_list {
    flex: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cat_product_list .prod-card__body {
    flex: 0 1 32%;
}

/* Страница категории end */

/* Хлебные крошки */

.breadcrumbs {
    margin: 20px 0;
    font-weight: 400;
    font-size: 12px;
}

.breadcrumbs a,
.breadcrumbs span {
    font-size: 14px;
}

.breadcrumbs__link {
    color: #878686;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}

.breadcrumbs__current {
    color: #878686;
}

/* Хлебные крошки end*/