.products {
    font-family: 'Jost';
    padding: 30px 0 30px 0;
}

.products h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.prod-card {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*  -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;*/
}

.prod-card__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #d9d9da;
    overflow: hidden;
    min-height: 442px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 23%;
    flex: 0 1 23%;
    margin-bottom: 15px;
}

.prod-card__body:hover {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    transition: all .4s ease;
 }

.prod-card__link {
    padding: 20px 0;
    height: 280px;
    flex: 0 0 158px;
    max-width: 241px;
}

.prod-card__link img {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}

.prod-card__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 14px 30px 18px 33px;
    width: 100%;
    border-top: 1px solid #EAEAEA;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.prod-card__text h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    max-width: 180px;
    width: 100%;
    margin: 0px auto 10px auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.prod-card__text .spacer__vendor {
    text-align: center;
    font-size: 11px;
    color: #858484;
    margin-bottom: 10px;
}

.prod-card__price {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align-items: center;
}

.prod-card__price-old {
    font-weight: 300;
    -webkit-text-decoration: line-through #DE182A;
    text-decoration: line-through #DE182A;
    margin: 0;
}

.prod-card__price-new {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.prod-card__benefit {
    font-size: 11px;
    color: #A8A8A8;
    text-align: center;
}

.prod-card__benefit span {
    color: #65B965;
    font-weight: 600;
}

.prod-card__button {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.prod-card__baskcet {
    width: 100%;
    min-height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #65B965;
    color: #fff;
    font-size: 14px;
}

.prod-card__order {
    width: 100%;
    min-height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* background: #F5E11E; */
    background: #65B965;
    font-size: 14px;
}

.spacer__vendor {
    margin-bottom: 28px;
}

.spacer__vendor span {
    color: #858484;
}

.category .prod-card {
    margin-bottom: 34px;
}

@media (max-width: 1150px) {
    .prod-card__body {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 32.5%;
        flex: 0 1 32.5%;
    }

    .prod-card__text {
        padding: 14px 10px 18px 10px;
    }
}

@media (max-width: 912px) {
    .prod-card__price-old {
        font-size: 14px;
    }

    .prod-card__price-new {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .products {
        padding: 20px 0;
    }

    .products h2 {
        margin-bottom: 15px;
    }

    .prod-card__body {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
        flex: 0 1 48%;
    }

    .prod-card__text {
        padding: 14px 30px 18px 33px;
    }

    .prod-card__price-old {
        font-size: 16px;
    }

    .prod-card__price-new {
        font-size: 20px;
    }

    .prod-card__price {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto 3.5px auto;
    }

    .prod-card__text h4 {
        max-width: 100%;
    }

    .prod-card__text h4 br {
        display: none;
    }

    .products {
        padding: 20px 0;
    }

    .prod-card {
        margin-bottom: 0px;
    }
}

@media (max-width: 680px) {
    .prod-card__body {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 47.5%;
        flex: 0 1 47.5%;
    }

    .prod-card__price {
        width: 100%;
    }
}

@media (max-width: 543px) {
    .products h2 {
        margin-bottom: 15px;
    }

    .prod-card {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .prod-card__body {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
        flex: 0 1 80%;
    }

    .prod-card__price {
        width: 65%;
    }
}

@media (max-width: 480px) {
    .prod-card__body {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}

@media (max-width: 390px) {
    .prod-card__price {
        width: 80%;
    }
}

@media (max-width: 340px) {
    .prod-card__price {
        width: 90%;
    }
}












